@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Poppins:wght@800&family=Shantell+Sans:wght@300&display=swap");
html {
  font-family: "Indie Flower", cursive;
  color: rgba(255, 255, 255, 0.884);
}

.toggle .line_one {
  transform: rotate(-45deg) translate(-9px, 4px);
}

.toggle .line_dwo {
  opacity: 0;
}

.toggle .line_three {
  transform: rotate(45deg) translate(-9px, -4px);
}

#burger1 {
  display: block;
  z-index: 21;
  position: fixed;
  right: 80px;
  top: 50px;
}

#burger1 div {
  display: block;
  cursor: pointer;
  width: 26px;
  height: 4px;
  margin: 5px;
  background-color: #fdfdfd;
  padding-top: 10%;
  padding-left: 3%;
  transition: all 0.26s ease;
  z-index: 20;
  border-radius: 50px;
}

#burger1 #jeden,
#burger1 #dwa,
#burger1 #trzy {
  display: block;
  cursor: pointer;
  width: 30px;
}

#nav > div:nth-child(2) {
  display: none;
}

#nav1 {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-family: "Indie Flower", cursive;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  z-index: 20;
  color: white;
  height: 130px;
}
#nav1 .in-nav {
  padding: 0.3% 8% 0.3% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav1 #nav1.scroll-down {
  top: 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}
#nav1 #hrf {
  text-decoration: none;
}
#nav1 #one {
  height: 90px;
  padding: auto 0;
  display: flex;
  align-items: center;
}
#nav1 #one img {
  width: 290px;
  min-width: 330px;
}
@media screen and (max-width: 540px) {
  #nav1 #one {
    width: 200px;
    height: 100px;
    padding: auto 0;
    display: flex;
    align-items: center;
  }
  #nav1 #one img {
    width: 200px;
    min-width: 200px;
    height: auto;
  }
}
@media screen and (max-width: 440px) {
  #nav1 #one {
    width: 180px;
    height: 100px;
    padding: auto 0;
    display: flex;
    align-items: center;
  }
  #nav1 #one img {
    width: 180px;
    min-width: 200px;
  }
}

.overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(9, 11, 15, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: 0.3s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

aside {
  color: rgba(255, 255, 255, 0.884);
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  padding: 20px 0;
  padding-top: 60px;
  width: 260px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  translate: 100% 0;
  transition: 0.3s;
  overflow-x: hidden;
}

body.open aside {
  translate: 0;
}

aside p, aside ul, aside p {
  transition: 0.3s;
  padding-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  cursor: pointer;
}

aside p:hover {
  color: orchid;
}

aside p:first-of-type {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 80px;
}

aside > ul {
  margin: 0 0 15px 0;
  padding-left: 40px;
  display: none;
  height: auto;
}
aside > ul li {
  font-size: 16px;
  color: #dfd0d0;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 3px;
}
aside > ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  transform: translateY(23px);
  height: 2px;
  background-color: #B4FE98;
  transition: 0.5s;
}
aside > ul li:hover::before {
  width: 25%;
}

.pactive {
  background-color: #fffdfb;
  color: black;
  -webkit-text-emphasis-color: black;
          text-emphasis-color: black;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (max-width: 1300px) {
  #nav1 {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding-top: 0;
    display: flex;
    align-items: center;
    height: 105px;
  }
  #nav1 .in-nav {
    padding: 0 8% 0 8%;
  }
  #nav1 #one {
    height: 90px;
    padding: auto 0;
    display: flex;
    align-items: center;
  }
  #nav1 #one img {
    width: 280px;
    min-width: 280px;
  }
  #burger1 {
    display: block;
    z-index: 21;
    position: fixed;
    right: 80px;
    top: 36px;
  }
}
@media screen and (max-width: 400px) {
  #burger1 {
    right: 40px;
    top: 55px;
  }
}
@media screen and (max-width: 540px) {
  #nav1 {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    font-family: "Indie Flower", cursive;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    z-index: 20;
    color: white;
    height: 100px;
  }
  #nav1 .in-nav {
    padding: 0.3% 4% 0.3% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #burger1 {
    right: 40px;
    top: 32px;
  }
}/*# sourceMappingURL=nav.css.map */