#news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: center;
    height: auto;
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 660px;
        height: 420px;
        flex-direction: row;
        margin: 30px;
        border-radius: 14px;
        padding: 25px;
        background-color: white;     
        box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
        transition: 0.3s;
        img{
            width: 300px;
            max-height: 100%;
            object-fit: cover;
            border-radius: 14px;
        }
        div{
            padding: 30px 20px;
            width: 310px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1{
                color: black;
                font-weight: 900;
                display: flex;
                justify-content: flex-start;
                font-size: 23px;
            }
            p{
                color: aquamarine;
                font-size: 18px;
            }
        }
    }
    .container:hover{
        scale: 1.01;
    }
}