#news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
  height: auto;
}
#news .container {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 380px;
  flex-direction: row;
  margin: 30px;
  border-radius: 14px;
  padding: 25px;
  background-color: white;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
#news .container img {
  width: 280px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
}
#news .container div {
  padding: 30px 20px;
  width: 280px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
#news .container div h1 {
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
}
#news .container div p {
  color: rgb(66, 66, 66);
  font-size: 18px;
}
#news .container:hover {
  scale: 1.01;
}

@media screen and (max-width: 1735px) {
  #news .container {
    width: 560px;
    height: 420px;
  }
  #news .container img {
    width: 260px;
  }
  #news .container div {
    padding: 30px 20px;
    width: 250px;
  }
}
@media screen and (max-width: 1550px) {
  #news .container img {
    width: 260px;
  }
  #news .container div {
    padding: 30px 20px;
    width: 250px;
  }
}
@media screen and (max-width: 1360px) {
  #news .container {
    width: 480px;
    height: 420px;
  }
  #news .container img {
    width: 220px;
  }
  #news .container div {
    padding: 30px 10px;
    width: 210px;
  }
}
@media screen and (max-width: 1190px) {
  #news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: center;
    height: auto;
  }
  #news .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 47%;
    height: 320px;
    margin: 10px;
    border-radius: 14px;
    padding: 25px;
    background-color: white;
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  #news .container img {
    width: 50%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 14px;
  }
  #news .container div {
    padding: 30px 0 30px 20px;
    width: 50%;
    justify-content: flex-start;
  }
  #news .container div p {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  #news {
    padding: 0;
  }
  #news .container {
    margin: 15px 0px;
    width: 95%;
    height: 300px;
  }
  #news .container img {
    width: 35%;
  }
  #news .container div {
    padding: 10px 0 10px 20px;
    width: 65%;
  }
  #news .container div p {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  #news {
    padding: 0;
  }
  #news .container {
    margin: 15px 0px;
    width: 95%;
    height: 270px;
  }
  #news .container img {
    width: 45%;
  }
  #news .container div {
    padding: 10px 0 10px 20px;
    width: 55%;
  }
  #news .container div h1 {
    font-size: 20px;
  }
  #news .container div p {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  #news {
    padding: 0;
  }
  #news .container {
    margin: 15px 0px;
    width: 95%;
    height: 270px;
  }
  #news .container img {
    width: 45%;
  }
  #news .container div {
    padding: 10px 0 10px 20px;
    width: 55%;
  }
  #news .container div .card__date {
    font-size: 12px;
  }
  #news .container div h1 {
    font-size: 16px;
  }
  #news .container div p {
    font-size: 11px;
  }
}
@media screen and (max-width: 350px) {
  #news {
    min-height: 1900px;
    padding: 0;
  }
  #news .container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 25px;
    justify-content: center;
    margin: 0px;
    width: 95%;
    height: 450px;
  }
  #news .container img {
    width: 90%;
    height: 220px;
  }
  #news .container div {
    padding: 10px 0;
    width: 100%;
  }
  #news .container div h1 {
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
  }
  #news .container div p {
    color: rgb(66, 66, 66);
    font-size: 14px;
  }
}/*# sourceMappingURL=news.css.map */